.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/SugodHotel.slnx/FileContentIndex/f957432f-8d9d-4287-88fb-62a95edcb98f.vsidx
.vs/SugodHotel.slnx/FileContentIndex/43ef844c-9157-436e-a206-712e21e1a8b5.vsidx
.vs/SugodHotel.slnx/v18/.wsuo
.vs/SugodHotel.slnx/v18/DocumentLayout.backup.json
.vs/SugodHotel.slnx/v18/DocumentLayout.json
.vs/SugodHotel/CopilotIndices/18.0.981.45449/CodeChunks.db
.vs/SugodHotel/CopilotIndices/18.0.981.45449/CodeChunks.db-shm
.vs/SugodHotel/CopilotIndices/18.0.981.45449/CodeChunks.db-wal
.vs/SugodHotel/CopilotIndices/18.0.981.45449/SemanticSymbols.db
.vs/SugodHotel/CopilotIndices/18.0.981.45449/SemanticSymbols.db-shm
.vs/SugodHotel/FileContentIndex/16a22030-9ba0-49e8-865d-91a25a81f83f.vsidx
.vs/SugodHotel/CopilotIndices/18.0.981.45449/SemanticSymbols.db-wal
.vs/SugodHotel/FileContentIndex/4536588c-9552-4c4a-9397-a02bef3ee42a.vsidx
.vs/SugodHotel/FileContentIndex/8d640a4a-6d23-4a77-8d77-4362bb779d83.vsidx
.vs/SugodHotel/FileContentIndex/6e8a9f14-894a-4b47-a83c-1404fd4db9d1.vsidx
.vs/SugodHotel/v18/.suo
.vs/SugodHotel/FileContentIndex/d5b363f0-635a-486c-8b11-fb612fbb6ca7.vsidx
.vs/VSWorkspaceState.json
gismanijmint.vb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/SugodHotel.vbproj.AssemblyReference.cache
obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.vb
obj/Release/SugodHotel.vbproj.AssemblyReference.cache
obj/Debug/SugodHotel.vbproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/SugodHotel.vbproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
