.vs/slnx.sqlite
.vs/SugodHotel.slnx/FileContentIndex/bd0d1060-dee6-4b96-892e-5b6d8449db26.vsidx
.vs/SugodHotel.slnx/v18/.wsuo
.vs/SugodHotel.slnx/v18/DocumentLayout.backup.json
.vs/SugodHotel.slnx/v18/DocumentLayout.json
.vs/SugodHotel/FileContentIndex/232e5ea2-bc0d-4f77-b71f-a40d4986f77c.vsidx
.vs/VSWorkspaceState.json
My Project/Resources.resx
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/SugodHotel.vbproj.AssemblyReference.cache
obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.vb
obj/Release/SugodHotel.vbproj.AssemblyReference.cache
My Project/Resources.resx
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/SugodHotel.vbproj.AssemblyReference.cache
obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
*.cache
My Project/Resources.resx
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/SugodHotel.vbproj.AssemblyReference.cache
obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
.vs/ProjectSettings.json
.vs/SugodHotel.slnx/FileContentIndex/43ef844c-9157-436e-a206-712e21e1a8b5.vsidx
.vs/SugodHotel.slnx/FileContentIndex/f957432f-8d9d-4287-88fb-62a95edcb98f.vsidx
.vs/SugodHotel/CopilotIndices/18.0.981.45449/CodeChunks.db
.vs/SugodHotel/CopilotIndices/18.0.981.45449/SemanticSymbols.db
.vs/SugodHotel/FileContentIndex/16a22030-9ba0-49e8-865d-91a25a81f83f.vsidx
.vs/SugodHotel/FileContentIndex/8d640a4a-6d23-4a77-8d77-4362bb779d83.vsidx
.vs/SugodHotel/FileContentIndex/d5b363f0-635a-486c-8b11-fb612fbb6ca7.vsidx
gismanijmint.vb
.vs/SugodHotel.slnx/FileContentIndex/19e28a2c-b135-45ad-ac2d-a98b86f909d1.vsidx
.vs/SugodHotel.slnx/FileContentIndex/45e1923b-b0a2-4d77-9731-476f8ef37070.vsidx
.vs/SugodHotel.slnx/FileContentIndex/460db7cf-1686-482c-99f8-829e54deb363.vsidx
.vs/SugodHotel.slnx/FileContentIndex/7c7e2637-4cc7-414a-9b7d-c72d74c47949.vsidx
.vs/SugodHotel.slnx/FileContentIndex/aa74a958-7448-4f5a-9602-58e40f292603.vsidx
.vs/SugodHotel.slnx/v18/.suo
.vs/SugodHotel/CopilotIndices/18.0.981.45449/CodeChunks.db-shm
.vs/SugodHotel/CopilotIndices/18.0.981.45449/CodeChunks.db-wal
.vs/SugodHotel/CopilotIndices/18.0.981.45449/SemanticSymbols.db-shm
.vs/SugodHotel/CopilotIndices/18.0.981.45449/SemanticSymbols.db-wal
.vs/SugodHotel/FileContentIndex/7d773b12-106f-4def-9215-1e745e3bcc40.vsidx
.vs/SugodHotel/FileContentIndex/c6c02883-bc18-4857-bdf4-e8b0d257f866.vsidx
.vs/SugodHotel/v18/.suo
.vs/SugodHotel.slnx/FileContentIndex/90267679-36b3-4ca3-bff4-69e3e2a45bfc.vsidx
.vs/SugodHotel.slnx/FileContentIndex/ed3a0348-695f-4359-b427-6dc789fe4758.vsidx
